@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

body {
	font-family: Ubuntu;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.clock {
	text-align: center;
	color: white;
	position: relative;
}

h1, h2, h3 {
	margin: 0px 0px 0px 0px;
	color: white;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
		0px 8px 13px rgba(0, 0, 0, 0.1),
		0px 18px 23px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 42px;
}

.weather {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date-time {
	margin-bottom: 25px;
}

.cond-icon {
	position: absolute;
	top: 25%;
}